<h1>Editing {{project.name}}</h1>

<label>Project Name:</label>
{{view Ember.TextField value=project.name focus-out="updateProject"}}

<br/>

{{file-upload model_id=project.id project=project store=store}}

<br/>

<h2>Image Count: {{project.images.length}}</h2>

{{#each project.images}}
  {{canvas-image image=this store=store project=project}}
  <br/>
{{/each}}

<br/>
{{#link-to "projects.index"}}
  Back to index
{{/link-to}}