<h1>Editing {{project.name}}</h1>

<label>Project Name:</label>
{{view Ember.TextField value=project.name focus-out="updateProject"}}

<br/>

{{file-upload model_id=project.id project=project store=store}}

<br/>

<button {{bind-attr class="boxEnabled:tool-enabled"}} {{action "toggleBoxEnabled"}}>Box Mode</button><br/>
<button {{bind-attr class="textEnabled:tool-enabled"}} {{action "toggleTextEnabled"}}>Text Mode</button><br/>

<h2>Image Count: {{project.images.length}}</h2>

{{#each project.images}}
  {{canvas-image image=this store=store project=project}}
  <br/>
{{/each}}

<br/>
{{#link-to "projects.index"}}
  Back to index
{{/link-to}}